.home {
    width: 40%;
    align: center;
    margin-left: 29%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(168,255,134);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: lato;
    
  }
  
  li a:hover {
    background-color: rgb(140,212,112);
  }

  .header {
      font-family: lato;
      color: rgb(168,255,134);
      text-align: center;
  }